#define DEFAULT 0
#define NUM     1
#define SYM     2
#define FUN     3
#define MOUSE   4
#define SCROLL  5
#define SNIPE   6

#include "keys_fr.h"
#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

&nice_view_spi { cs-gpios = <&pro_micro 1 GPIO_ACTIVE_HIGH>; };

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&mt { flavor = "tap-preferred"; };

&caps_word { continue-list = <UNDERSCORE MINUS>; };

/ {
    // custom shift using mod-morph 

    behaviors {
        cmqus: comma_question {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_QUESTION";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp QUESTION>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dtsmi: dot_semi {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_SEMI";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp SEMI>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        hm: hm {
            compatible = "zmk,behavior-hold-tap";
            label = "HM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };
    };

    macros {
        Hiragana: Hiragana {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE)>;
            label = "HIRAGANA";
        };
    };

    combos {
        compatible = "zmk,combos";

        Entrer {
            bindings = <&kp ENTER>;
            key-positions = <13 35>;
        };

        Espace {
            bindings = <&kp FR_SPACE>;
            key-positions = <10 35>;
        };

        ctrl+espace {
            bindings = <&kp LC(FR_SPACE)>;
            key-positions = <1 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            label = "AZRT";
            bindings = <
&mt ESCAPE FR_A  &kp FR_Z           &kp FR_E           &kp FR_R             &mt DEL FR_T                                   &kp FR_Y        &kp FR_U              &kp FR_I           &kp FR_O            &kp FR_P
&hm LCTRL FR_Q   &mt LEFT_WIN FR_S  &hm LEFT_ALT FR_D  &hm LEFT_SHIFT FR_F  &kp FR_G                                       &kp FR_H        &hm RIGHT_SHIFT FR_J  &hm LEFT_ALT FR_K  &mt RIGHT_GUI FR_L  &hm RIGHT_CONTROL FR_M
&kp FR_W         &kp FR_X           &kp FR_C           &kp FR_V             &kp FR_B                                       &kp FR_N        &kp FR_COMMA          &hm RALT FR_SEMI   &kp FR_COLON        &kp FR_EXCLAMATION
&mo 5            &mo 4              &mo 6              &kp LCTRL            &lt 3 TAB     &lt 1 BACKSPACE  &lt 2 FR_SPACE  &kp LEFT_SHIFT                                                               &kp CAPS
            >;
        };

        Functions {
            label = "FUNC";
            bindings = <
&kp F1  &kp F2   &kp F3   &kp F4   &kp FR_SQUARE                  &kp F13  &kp F14    &kp F15       &kp F16   &kp F17
&kp F5  &kp F6   &kp F7   &kp F8   &kp FR_DEGREE                  &none    &kp RSHFT  &kp LEFT_ALT  &kp RGUI  &kp RCTRL
&kp F9  &kp F10  &kp F11  &kp F12  &kp FR_MU                      &kp F18  &kp F19    &kp F20       &kp F21   &kp F22
&trans  &trans   &trans   &trans   &trans         &trans  &trans  &trans                                      &trans
            >;
        };

        Symbol {
            label = "SYMB";
            bindings = <
&kp FR_AMPERSAND         &kp FR_E_ACUTE  &kp FR_DOUBLE_QUOTES  &kp FR_SINGLE_QUOTE  &kp FR_CARET                    &kp FR_PIPE  &kp FR_LEFT_BRACKET                  &kp FR_BACKSLASH          &kp FR_SLASH      &kp FR_RBKT
&kp FR_LEFT_PARENTHESIS  &kp FR_MINUS    &kp FR_E_GRAVE        &kp FR_UNDER         &kp FR_U_GRAVE                  &kp FR_HASH  &mt RIGHT_SHIFT FR_LEFT_PARENTHESIS  &mt RIGHT_ALT RA(FR_SQT)  &kp RA(FR_EQUAL)  &mt RCTRL FR_RIGHT_PARENTHESIS
&kp FR_C_CEDILLA         &kp FR_A_GRAVE  &kp EQUAL             &kp FR_ASTRK         &kp FR_DOLLAR                   &kp FR_AT    &kp FR_LT                            &kp FR_GRAVE              &kp FR_PERCENT    &kp FR_GT
&trans                   &trans          &trans                &trans               &trans          &trans  &trans  &trans                                                                                        &trans
            >;
        };

        Navigation {
            label = "NAVI";
            bindings = <
&kp C_BRI_DN  &kp C_VOL_DN         &mt PAGE_UP UP            &kp C_VOL_UP         &kp C_BRI_UP                  &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4
&kp LCTRL     &mt HOME LEFT_ARROW  &mt PAGE_DOWN DOWN_ARROW  &mt END RIGHT_ARROW  &out OUT_TOG                  &bt BT_CLR     &none          &none          &none          &none
&none         &kp C_PREV           &kp C_PP                  &kp C_NEXT           &kp C_MUTE                    &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3  &bt BT_DISC 4
&trans        &trans               &trans                    &trans               &trans        &trans  &trans  &trans                                                      &trans
            >;
        };

        mouse_layer {
            label = "MOUSE";
            bindings = <
&trans  &trans  &trans  &trans  &trans                  &trans         &trans     &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans                  &kp PAGE_UP    &mkp LCLK  &mkp MCLK  &mo 5   &mkp RCLK
&trans  &trans  &trans  &trans  &trans                  &kp PAGE_DOWN  &mkp MB4   &none      &none   &mkp MB5
&none   &trans  &trans  &trans  &trans  &trans  &trans  &mo 3                                        &none
            >;
        };

        scroll_layer {
            label = "SCROLL";
            bindings = <
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                          &trans
            >;
        };

        snipe_layer {
            label = "SNIPE";
            bindings = <
&trans  &trans  &trans  &trans  &bootloader                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans                          &trans
            >;
        };
    };
};
